target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/src/main/tomcatconf/trigger_listener.properties
/src/main/tomcatconf/s2d_connection.properties